<!--DATA COMING IN
[
    [   // in order of bracket:
        {
            "name": "Yihan",
            "score": 79,
            "winner": true
        },
        {
            "name": "Aidan",
            "score": 48,
            "winner": false
        },
        {
            "name": "Britney",
            "score": 84,
            "winner": true
        },
        {
            "name": "Bryan",
            "score": 72,
            "winner": false
        }
    ],
    [
        {
            "name": "Yihan",
            "score": 55,
            "winner": false
        },
        {
            "name": "Britney",
            "score": 56,
            "winner": true
        }
    ]
]
-->

<section class = "tournament" id="tournament">
    <h1>{{title}}</h1>
    {{#if loggedIn}}
        {{#if inTimeslot}}
            <button class="leave-button" data-id="{{timeStamp}}">Leave</button>
        {{else}}
            <button class="join-button" data-id="{{timeStamp}}">Join</button>
        {{/if}}
    {{/if}}
    {{#each event.matches}}
        <ul class="round round-{{@index}}">
            <li class="spacer">&nbsp;</li>
            {{#each this}}
                <li class="game game-top {{#if this.winner1}}winner{{/if}}">{{#each this.team1}}{{this.playerName}} {{/each}} <span>{{this.score.[0]}}</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom {{#if this.winner2}}winner{{/if}}">{{#each this.team2}}{{this.playerName}} {{/each}} <span>{{this.score.[1]}}</span></li>
            {{/each}}
            <li class="spacer">&nbsp;</li>
        </ul>
    {{/each}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/singleEvent.js"></script>

    {{#if isAdmin}}
        <a href="/events/{{eventId}}/scoreSubmissions">Manage Event</a>
    {{/if}}
</section>

