<section id="swiss">
    <h1>Swiss</h1>
    {{#if displayJoinButton}}
        <p>Event has not started yet! Here are the current list of participants:</p>
        {{#each reservation.players}}
            <p>{{playerName}}</p>
        {{/each}}
        {{#if loggedIn}}
            {{#if inTimeslot}}
                <button class="leave-button" data-id="{{timeStamp}}">Leave</button>
            {{else}}
                <button class="join-button" data-id="{{timeStamp}}">Join</button>
            {{/if}}
        {{/if}}
    {{/if}}
    <div id="swiss-div">

    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/swiss.js"></script>
    <script src = "/public/js/singleEvent.js"></script>
</section>


{{#if isAdmin}}
    <section id="matchmanagement">
    {{#if matchData}}
        <form action="/events/{{eventId}}/scoreSubmissions" method="POST" class="scoreSubmissionForm" id="scoreSubmissionForm">
            <select name="matchId" id="matchId">
                {{#each matchData}}
                    <option value="{{id}}">{{team1}} vs. {{team2}} ({{in_round}})</option>
                {{/each}}
            </select> 

            <label for="team1score">Team 1 Score</label>
            <input type="number" name="team1score" id="team1score" min="0" max="99" required>

            <label for="team2score">Team 2 Score</label>
            <input type="number" name="team2score" id="team2score" min="0" max="99" required>

            <select name="winner" id="winner">
                <option value="1">Team 1 (Left Team)</option>
                <option value="2">Team 2 (Right Team)</option>
            </select>
            
            <input type="hidden" id="id" name="id" value="{{eventId}}">
            <input type="submit" value="Submit">
        </form>
    {{/if}}

            <form action="/events/{{eventId}}/scoreSubmissions" method="POST" class="generateSwissRoundForm" id="generateSwissRoundForm">
            <input type="hidden" id="id3" name="id3" value="{{eventId}}">
            <input type="hidden" id="swissRound" name="swissRound" value="swissRound">
            <input type="submit" value="Generate Swiss Round">

        </form>

        <form action="/events/{{eventId}}/scoreSubmissions" method="POST" class="generateTopCutForm" id="generateTopCutForm">
            <input type="hidden" id="id4" name="id4" value="{{eventId}}">
            <input type = "hidden" id="topCut" name="topCut" value="topCut">
            <input type="submit" value="Generate Top Cut">
        </form>
    </section>
{{/if}}
