<section id="swiss">
    <h1>Swiss</h1>
    {{#if displayJoinButton}}
    <p>Event has not started yet! Here are the current list of participants:</p>
    {{#each reservation.players}}
    <p>{{playerName}}</p>
    {{/each}}
    {{#if loggedIn}}
    {{#if inTimeslot}}
    <button class="leave-button" data-id="{{timeStamp}}">Leave</button>
    {{else}}
    <button class="join-button" data-id="{{timeStamp}}">Join</button>
    {{/if}}
    {{/if}}
    {{/if}}
    <div id="swiss-div">

    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/swiss.js"></script>
    <script src="/public/js/singleEvent.js"></script>
</section>
<section class="tournament" id="tournament">
    {{#each event.matches}}
    <ul class="round round-{{@index}}">
        <li class="spacer">&nbsp;</li>
        {{#each this}}
        <li class="game game-top {{#if this.winner1}}winner{{/if}}">{{#each this.team1}}{{this.playerName}} {{/each}}
            <span>{{this.score.[0]}}</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom {{#if this.winner2}}winner{{/if}}">{{#each this.team2}}{{this.playerName}} {{/each}}
            <span>{{this.score.[1]}}</span>
        </li>
        {{/each}}
        <li class="spacer">&nbsp;</li>
    </ul>
    {{/each}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/singleEvent.js"></script>
</section>

{{#if isAdmin}}
<section id="matchmanagement">
    {{#if matchData}}
    <form action="/api/events/{{eventId}}" method="POST" class="scoreSubmissionForm" id="scoreSubmissionForm">
        <select name="matchId" id="matchId">
            {{#each matchData}}
            <option value="{{id}}">{{team1}} vs. {{team2}} ({{in_round}})</option>
            {{/each}}
        </select>

        <label for="team1score">Team 1 Score</label>
        <input type="number" name="team1score" id="team1score" min="0" max="99" required>

        <label for="team2score">Team 2 Score</label>
        <input type="number" name="team2score" id="team2score" min="0" max="99" required>

        <select name="winner" id="winner">
            <option value="1">Team 1 (Left Team)</option>
            <option value="2">Team 2 (Right Team)</option>
        </select>

        <input type="submit" value="Submit">
    </form>
    {{else}}

    <form action="/api/events/{{eventId}}" method="POST" class="generateSwissRoundForm" id="generateSwissRoundForm">
        <input type="hidden" id="swissRound" name="swissRound" value="swissRound">
        <input type="submit" value="Generate Swiss Round">

    </form>

    <form action="/api/events/{{eventId}}" method="POST" class="generateTopCutForm" id="generateTopCutForm">
        <input type="hidden" id="topCut" name="topCut" value="topCut">
        <label for="topcutvalue">Number of Teams Cut (default 4):</label>
        <input type="number" name="topcutvalue" id="topcutvalue" value="4">
        <input type="submit" value="Generate Top Cut">
    </form>
    {{/if}}
</section>
{{/if}}

<p id="error" hidden>This is an error.</p>